﻿@model IntervalModel
@using AVTKProjekt.Models

<div class="p-2 flex-fill bd-highlight border" style="width:500px; height:50%; background:#f5f5f6; margin-right:5%; margin-top:3%">

    <h4 class="text-center">Set intervals</h4>
    <form asp-action="SetIntervals" role="form" class="form-inline" method="post">
        <label asp-for="FromInterval" class="col-sm-2 col-form-label">From</label>
        <input asp-for="FromInterval" type="number" step="0.01" class="form-control mb-2 mr-sm-2" />

        <label asp-for="ToInterval" class="col-sm-2 col-form-label">To</label>
        <input asp-for="ToInterval" type="number" step="0.01" class="form-control mb-2 mr-sm-2" />

        <button type="submit" class="btn btn-primary mb-2">Set</button>
    </form>
</div>