﻿@model (MeasurementModel, IntervalModel, LightModel)
@using AVTKProjekt.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-fill justify-content-start" style=" margin:auto; background:#ffffff; width:1450px; height:800px;">
    <div class="text-center">
        <h1 class="display-4">IOT Projects</h1>
    </div>
    <meta http-equiv="refresh" content="30" /> 

    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight border " style="background:#f5f5f6; margin-left:5%">
            <script src="~/lib/chartJS/chart.js"></script>
            <div style="width: 80%; height: 58%;">
                <canvas id="myChart"></canvas>
            </div>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: [@Html.Raw(Model.Item1.DisplayTimeMonth)],
                        datasets: [{
                            label: 'Measurements',
                            borderColor: '#002266',
                            pointBackgroundColor: '#002266',
                            fill: true,
                            borderWidth: 1,
                            lineTension: 0,
                            data: [@Model.Item1.DisplayValue]
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });
            </script>
        </div>
        <div class="p-2 flex-fill bd-highlight "></div>
        <div class="p-2 flex-fill bd-highlight border" style="background:#f5f5f6; margin-right:5%; height:50%">
            <h4 class="text-center">Light state</h4>
            <div class="d-flex align-items-stretch">
                @if (Model.Item1.Value < Model.Item2.FromInterval) // (3-9)-->2
                {
                    <img src="~/lib/images/onLight.png" width="220" height="200" />
                }
                else if (Model.Item1.Value > Model.Item2.ToInterval)//(3-9)-->10
                {
                    <img src="~/lib/images/offLight.png" width="220" height="200" />
                }
                else
                { 
                    <img src="~/lib/images/Neutral.png" width="220" height="200" />
                }

                <div class="d-flex flex-column">
                    <div>
                        <span type="card" style="display: inline-block; background:#ffd800; width:85px; height:15px">
                        </span>
                        ON
                    </div>

                    <div>
                        <span type="card" style="display: inline-block; background:#808080; width:85px; height:15px">
                        </span>
                        OFF
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column bd-highlight mb-3">



    </div>

    <div class="d-flex bd-highlight">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 flex-fill bd-highlight border" style="width:400px; height:200px; background:#f5f5f6; margin-left:30%; margin-top:10%">
                <h4 class="text-center">Action</h4>
                <div class="d-flex align-items-stretch">
                    <div class="btn-group-vertical">

                        <button type="button" onclick="changeBulb('TurnONAction.png');" class="btn btn-warning btn-lg">On</button>
                        <button type="button" onclick="changeBulb('TurnOFFAction.png');" class="btn btn-danger btn-lg">Off</button>
                    </div>
                    @if (Model.Item3.LightState == true)
                    {
                        <img id="actionBulbId" src="~/lib/images/TurnONAction.png" class="rounded mx-auto d-block" style="height:150px; width:220px; margin-right:50%" />
                    }
                    else
                    {
                        <img id="actionBulbId" src="~/lib/images/TurnOFFAction.png" class="rounded mx-auto d-block" style="height:150px; width:220px; margin-right:50%" />
                    }
                </div>
            </div>
        </div>

        <div class="p-2 flex-fill bd-highlight"></div>
        @await Html.PartialAsync("_SetIntervalPage", Model.Item2)
    </div>
    <script>
        function changeBulb(image) {
            if (image == 'TurnONAction.png') {
                window.location.replace("/change-state?state=true")
            } else {
                window.location.replace("/change-state?state=false")
            }
        }
    </script>
</div>

